.rest-info {
  background-color: var(--secondary);
  color: var(--app-bg);
  height: 229px;
}

.rest-info .container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 2.25rem;
  padding-block: 2rem;
}

@media screen and (max-width: 785px) {
  .rest-info {
    background-color: rgb(52, 52, 52);
  }
}
