.model-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1200;
}

.model-container.hide {
    display: none;
}

.model-content {
    max-width: 500px;
    background-color: var(--app-bg);
    border-radius: 4px;
    padding: 14px;
    margin-inline: 1.25rem;
    overflow: hidden;
}

.model-content .control {
    text-align: right;
    margin-bottom: 10px;
}

.control .btn {
    cursor: pointer;
    background: transparent;
    font-size: 1.25rem;
    padding: 0 5px;
}