<div class="container">
    <div class="header">
      <div class="rest-count hidden-sm">
        <!-- <h2>Loading Restaurants Nearby</h2> -->
      </div>

      <div class="rest-near hidden-lg">
        <!-- <h3>Loading Restaurants Nearby</h3> -->
      </div>

      <div class="res-filters">
        <button
          class="btn active"
        >
          Relavance
        </button>
        <button
          class="btn"
        >
          Rating
        </button>
      </div>
    </div>
  </div>
  <div id="nearby-res">
    <div class="container">
        <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
